<div class="col-md-8 offset-md-2">
    <div class="row mt-3">
        <div class="col-md-3">
            <div class="row">
                <img class="img-responsive book-cover" src="{{ book.cover }}" alt="{{ book.title }}"/>
            </div>
        </div>
        <div class="col-md-8">
                <h1>{{ book.title }}</h1>
                <p class="text-justify">{{ book.description }}</p>
                <p>ISBN: {{ book.isbn }}</p>
                <p>Released: {{ book.createdAt | date}}</p>
        </div>
        <div class="col-md-1">
            <p>Units: {{ book.units }}</p>
        </div>
    </div>
    <div class="row">
        <div *ngFor='let author of book.authors'>   
            <div class="row mt-5">
                <div class="col-md-4 offset-md-3">
                    <p class="text-justify">{{ author.description }}</p>
                </div>
                <div class="col-md-4">
                    <h5>{{ author.name }}</h5>
                    <h6>Was born at {{ author.birthday | date }}</h6>
                </div>
            </div>
        </div>
    </div>
</div>