<div class="row">
  <div class="col-md-6 offset-md-3">
    <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Description (shorted)</th>
              <th>Birthday</th>
            </tr>
          </thead>
          <tbody>
    
            <tr *ngFor="let author of authors">
              <td>{{ author.id }}</td>
              <td>{{ author.name }}</td>
              <td class="text-justify">{{ author.description | slice:0:200 }}</td>
              <td>{{ author.birthday | date }}</td>
            </tr>
            
          </tbody>
        </table>
      </div>
  </div>
</div>